<%= form_with(model: evaluation, local: true) do |form| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
        <% evaluation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name, class:"form-label" %>
    <%= form.text_field :user_name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :presentation_name %>
    <%= form.text_field :presentation_name, class:"form-control"  %>
  </div>

  <div class="field">
    <%= form.label :Scores %>
    <%= form.text_field :Scores, class:"form-control", placeholder:"Scale From 0 to 10" %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, class:"form-control"%>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit %>
  </div>
  <br/>
<% end %>
