<%= form_with(model: evaluation, local: true) do |form| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
        <% evaluation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group">
    <%= form.label :presentation_name %>
    <% @presentation.map do |x|
        [x.name, x.id]
       end
    %>
    <%= select_tag(:presentation_id,options_for_select(@presentation))%>
  </div>

  <div class="field form-group">
    <%= form.label :Scores %>
    <%= form.number_field :Scores, class:"form-control", placeholder:"Scale From 0 to 10", min:0, max:10 %>
  </div>

  <div class="field form-group">
    <%= form.label :comment %>
    <%= form.text_area :comment, class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :evalaution_user_id, class:"form-control", value: current_user.id, type: :hidden%>
  </div>

  <br/>
  <div class="actions">
    <%= form.submit %>
  </div>
  <br/>
<% end %>
